include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-exclude tests *
recursive-exclude .circleci *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *.rst conf.py Makefile *.jpg *.png *.gif

recursive-include shamrock *
