interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/divisions
  response:
    body:
      string: '[{"subkingdom":{"slug":"tracheobionta","name":"Tracheobionta","link":"http://trefle.io/api/subkingdoms/1","id":1},"slug":"magnoliophyta","name":"Magnoliophyta","kingdom":{"slug":null,"name":"Plantae","link":"http://trefle.io/api/kingdoms/1","id":1},"id":1,"division_classes":[{"slug":"magnoliopsida","name":"Magnoliopsida","link":"http://trefle.io/api/division_classes/1","id":1},{"slug":"liliopsida","name":"Liliopsida","link":"http://trefle.io/api/division_classes/4","id":4}]},{"subkingdom":{"slug":"tracheobionta","name":"Tracheobionta","link":"http://trefle.io/api/subkingdoms/1","id":1},"slug":"coniferophyta","name":"Coniferophyta","kingdom":{"slug":null,"name":"Plantae","link":"http://trefle.io/api/kingdoms/1","id":1},"id":2,"division_classes":[{"slug":"pinopsida",[...]
