interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/families
  response:
    body:
      string: '[{"subkingdom":{"slug":"tracheobionta","name":"Tracheobionta","link":"http://trefle.io/api/subkingdoms/1","id":1},"slug":"caprifoliaceae","name":"Caprifoliaceae","kingdom":{"slug":null,"name":"Plantae","link":"http://trefle.io/api/kingdoms/1","id":1},"id":1,"genuses":[{"slug":"abelia","name":"Abelia","link":"http://trefle.io/api/genuses/1","id":1},{"slug":"diervilla","name":"Diervilla","link":"http://trefle.io/api/genuses/2444","id":2444},{"slug":"kolkwitzia","name":"Kolkwitzia","link":"http://trefle.io/api/genuses/3912","id":3912},{"slug":"linnaea","name":"Linnaea","link":"http://trefle.io/api/genuses/4202","id":4202},{"slug":"leycesteria","name":"Leycesteria","link":"http://trefle.io/api/genuses/4144","id":4144},{"slug":"sambucus","name":"Sambucus","link":"http://trefle.io/api/genuses/5975","id":5975},{"slug":"symphoricarpos","name":"Symphoricarpos","link":"http://trefle.io/api/genuses/6429","id":6429},{"slug":"triosteum","name":"Triosteum","link":"http://trefle.io/api/genuses/6729","id":6729},{"slug":"viburnum","name":"Viburnum","link":"http://trefle.io/api/genuses/6886","id":6886},{"slug":"weigela","name":"Weigela","link":"http://trefle.io/api/genuses/6929","id":6929}],"division_order":{"slug":"dipsacales","name":"Dipsacales","link":"http://trefle.io/api/division_orders/1","id":1},"division_class":{"slug":"magnoliopsida","name":"Magnoliopsida","link":"http://trefle.io/api/division_classes/1","id":1},"division":{"slug":"magnoliophyta","name":"Magnoliophyta","link":"http://trefle.io/api/divisions/1","id":1},"common_name":"Honeysuckle
        family"},{"subkingdom":{"slug":"tracheobionta","name":"Tracheobionta","link":"http://trefle.io/api/subkingdoms/1","id":1},"slug":"malvaceae","name":"Malvaceae","kingdom":{"slug":null,"name":"Plantae","link":"http://trefle.io/api/kingdoms/1","id":1},"id":2,"genuses":[{"slug":"abelmoschus","name":"Abelmoschus","link":"http://trefle.io/api/genuses/2","id":2},{"slug":"abutilon","name":"Abutilon","link":"http://trefle.io/api/genuses/19","id":19},{"slug":"alcea","name":"Alcea","li[...]
