interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/genuses
  response:
    body:
      string: '[{"subkingdom":{"slug":"tracheobionta","name":"Tracheobionta","link":"http://trefle.io/api/subkingdoms/1","id":1},"slug":"abelia","order":{"slug":"dipsacales","name":"Dipsacales","link":"http://trefle.io/api/division_orders/1","id":1},"name":"Abelia","kingdom":{"slug":null,"name":"Plantae","link":"http://trefle.io/api/kingdoms/1","id":1},"id":1,"family":{"slug":"caprifoliaceae","name":"Caprifoliaceae","link":"http://trefle.io/api/families/1","id":1,"common_name":"Honeysuckle
        family"},"division":{"slug":"magnoliophyta","name":"Magnoliophyta","link":"http://trefle.io/api/divisions/1","id":1},"class":{"slug":"magnoliopsida","name":"Magnoliopsida","link":"http://trefle.io/api/division_classes/1","id":1}},{"subkingdom":{"slug":"tracheobionta","name":"Tracheobionta","link":"http://trefle.io/api/subkingdoms/1","id":1},"slug":"abelmoschus","order":{"slug":"malvales","name":"Malvales","link":"http://trefle.io/api/division_orders/2","id":2},"name":"Abelmoschus","kingdom":{"slug":null,"name":"Plantae","link":"http://trefle.io/api/kingdoms/1","id":1},"id":2,"family":{"slug":"malvaceae","name":"Malvac[...]
