interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://v0.trefle.io/api/kingdoms
  response:
    body:
      string: '[{"id":1,"name":"Plantae","slug":null,"subkingdoms":[{"id":1,"link":"http://trefle.io/api/subkingdoms/1","name":"Tracheobionta","slug":"tracheobionta"}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      link:
      - <https://v0.trefle.io/api/kingdoms?page=1>; rel="first", <https://v0.trefle.io/api/kingdoms?page=1>;
        rel="last"
      page-number:
      - '1'
      per-page:
      - '30'
      total:
      - '1'
      total-pages:
      - '1'
    status:
      code: 200
      message: OK
version: 1
