interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/species?page=6484
  response:
    body:
      string: '[{"year":null,"type":"species","synonym":false,"status":"Unknown","sources":[{"species_id":137365,"source_url":"https://plants.usda.gov","name":"USDA","last_update":"2019-01-11T10:14:43.874540"}],"slug":"flagellaria","scientific_name":"Flagellaria","main_species_id":null,"link":"http://trefle.io/api/plants/137365","is_main_species":true,"id":137365,"family_common_name":"Flagellaria
        family","complete_data":false,"common_name":null,"bibliography":null,"author":null},{"year":null,"type":"species","synonym":false,"status":"Unknown","sources":[{"species_id":137370,"source_url":"https://plants.usda.gov","name":"USDA","last_update":"2019-01-11T10:14:44.190977"}],"slug":"flaveria-oppositifolia","scientific_name":"Flaveria
        oppositifolia","main_species_id":null,"link":"http://trefle.io/api/plants/137370","is_main_species":true,"id":137370,"family_common_name":null,"complete_data":false,"common_name":null,"bibliography":null,"author":null},{"year":null[...]
