interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/species?page=2
  response:
    body:
      string: '[{"year":null,"type":"species","synonym":false,"status":"Unknown","sources":[{"species_id":137321,"source_url":"https://plants.usda.gov","name":"USDA","last_update":"2019-01-11T10:14:40.839354"}],"slug":"fissidens-littlei","scientific_name":"Fissidens
        littlei","main_species_id":null,"link":"http://trefle.io/api/plants/137321","is_main_species":true,"id":137321,"family_common_name":null,"complete_data":false,"common_name":"Little''s
        fissidens moss","bibliography":null,"author":null},{"year":null,"type":"species","synonym":false,"status":"Unknown","sources":[{"species_id":137326,"source_url":"https://plants.usda.gov","name":"USDA","last_update":"2019-01-11T10:14:41.172189"}],"slug":"fissidens-neonii","scientific_name":"Fissidens
        neonii","main_species_id":null,"link":"http://trefle.io/api/plants/137326","is_main_species":true,"id":137326,"family_common_name":null,"complete_data":false,"common_name":"neon
        fissidens moss","bibliography":null,"author":null}[...]
