interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/plants
  response:
    body:
      string: '[{"slug":"paspalum-dilatatum","scientific_name":"Paspalum dilatatum","link":"http://trefle.io/api/plants/162791","id":162791,"complete_data":true,"common_name":"dallisgrass"},{"slug":"poa-eminens","scientific_name":"Poa
        eminens","link":"http://trefle.io/api/plants/168621","id":168621,"complete_data":true,"common_name":"largeflower
        speargrass"},{"slug":"gaillardia-pulchella","scientific_name":"Gaillardia
        pulchella","link":"http://trefle.io/api/plants/138234","id":138234,"complete_data":true,"common_name":"Indian
        blanket"},{"slug":"helenium-flexuosum","scientific_name":"Helenium flexuosum","link":"http://trefle.io/api/plan[...]
