interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/plants
  response:
    body:
      string: '[{"slug":"ruttya-tricolor","scientific_name":"Ruttya tricolor","link":"http://trefle.io/api/plants/197482","id":197482,"complete_data":false,"common_name":null},{"slug":"hypoestes-humbertii","scientific_name":"Hypoestes
        humbertii","link":"http://trefle.io/api/plants/197492","id":197492,"complete_data":false,"common_name":null},{"slug":"hypoestes-hastata","scientific_name":"Hypoestes
        hastata","link":"http://trefle.io/api/plants/197502","id":197502,"complete_data":false,"common_name":null},{"slug":"hypoestes-fascicularis","scientific_name":"Hypoestes
        fascicularis","link":"http://trefle.io/api/plants/197521","id":197521,"compl[...]
