interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/plants
  response:
    body:
      string: '[{"slug":"penstemon-parryi","scientific_name":"Penstemon parryi","link":"http://trefle.io/api/plants/164033","id":164033,"complete_data":false,"common_name":"Parry''s
        beardtongue"},{"slug":"penstemon-pseudoparvus","scientific_name":"Penstemon
        pseudoparvus","link":"http://trefle.io/api/plants/164070","id":164070,"complete_data":false,"common_name":"Mt.
        Washington beardtongue"},{"slug":"penstemon-scapoides","scientific_name":"Penstemon
        scapoides","link":"http://trefle.io/api/plants/164119","id":164119,"complete_data":false,"common_name":"pinyon
        beardtongue"},{"slug":"penstemon-secundiflorus","scientific_name":"P[...]
