interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/species?page=1
  response:
    body:
      string: '[{"year":null,"type":"species","synonym":false,"status":"Unknown","sources":[{"species_id":137215,"source_url":"https://plants.usda.gov","name":"USDA","last_update":"2019-01-11T10:14:33.493783"}],"slug":"fimbristylis-spathacea","scientific_name":"Fimbristylis
        spathacea","main_species_id":null,"link":"http://trefle.io/api/plants/137215","is_main_species":true,"id":137215,"family_common_name":null,"complete_data":false,"common_name":null,"bibliography":null,"author":null},{"year":null,"type":"species","synonym":false,"status":"Unknown","sources":[{"species_id":137224,"source_url":"https://plants.usda.gov","name":"USDA","last_update":"2019-01-11T10:14:34.121499"}],"slug":"scirpus-ferrugineus","scientific_name":"Scirpus
        ferrugineus","main_species_id":null,"link":"http://trefle.io/api/plants/137224","is_main_species":true,"id":137224,"family_common_name":null,"complete_data":false,"common_name":null,"bibliography":null,"author":null},{"year":null,"type[...]
