interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/species?common_name=blackwood
  response:
    body:
      string: '[{"year":null,"type":"species","synonym":false,"status":"Unknown","sources":[{"species_id":101452,"source_url":"https://plants.usda.gov","name":"USDA","last_update":"2019-01-11T09:40:21.316368"}],"slug":"acacia-penninervis","scientific_name":"Acacia
        penninervis","main_species_id":null,"link":"http://trefle.io/api/plants/101452","is_main_species":true,"id":101452,"family_common_name":"Pea
        family","complete_data":false,"common_name":"blackwood","bibliography":null,"author":null},{"year":null,"type":"species","synonym":false,"status":"Unknown","sources":[{"species_id":101419,"source_url":"https://plants.usda.gov","name":"USDA","last_update":"2019-01-11T09:40:20.806241"}],"slug":"acacia-melanoxylon","scientific_name":"Acacia
        melanoxylon","main_species_id":null,"link":"http://trefle.io/api/plants/101419","is_main_species":true,"id":101419,"family_common_name":"Pea
        family","complete_data":true,"common_name":"blackwood","bibliography":null,"author":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      link:
      - <https://trefle.io/api/species?common_name=blackwood&page=1>; rel="first",
        <https://trefle.io/api/species?common_name=blackwood&page=1>; rel="last"
      page-number:
      - '1'
      per-page:
      - '30'
      total:
      - '2'
      total-pages:
      - '1'
    status:
      code: 200
      message: OK
version: 1
