interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/species?q=tomato
  response:
    body:
      string: "[{\"year\":null,\"type\":\"species\",\"synonym\":false,\"status\":\"\
        Unknown\",\"sources\":[{\"species_id\":126569,\"source_url\":\"https://plants.usda.gov\"\
        ,\"name\":\"USDA\",\"last_update\":\"2019-01-11T09:59:59.022245\"}],\"slug\"\
        :\"cyphomandra-betacea\",\"scientific_name\":\"Cyphomandra betacea\",\"main_species_id\"\
        :null,\"link\":\"http://trefle.io/api/plants/126569\",\"is_main_species\"\
        :true,\"id\":126569,\"family_common_name\":\"Potato family\",\"complete_data\"\
        :false,\"common_name\":\"tree tomato\",\"bibliography\":null,\"author\":null},{\"\
        year\":null,\"type\":\"species\",\"synonym\":false,\"status\":\"Unknown\"\
        ,\"sources\":[{\"species_id\":182557,\"source_url\":\"https://plants.usda.gov\"\
        ,\"name\":\"USDA\",\"last_update\":\"2019-01-11T12:02:32.660052\"}],\"slug\"\
        :\"solanum-pimpinellifolium\",\"scientific_name\":\"Solanum pimpinellifolium\"\
        ,\"main_species_id\":null,\"link\":\"http://trefle.io/api/plants/182557\"\
        ,\"is_main_species\":true,\"id\":182557,\"family_common_name\":\"Potato family\"\
        ,\"complete_data\":false,\"common_name\":\"currant tomato\",\"bibliography\"\
        :null,\"author\":null},{\"year\":null,\"type\":\"species\",\"synonym\":false,\"\
        status\":\"Unknown\",\"sources\":[{\"species_id\":182512,\"source_url\":\"\
        https://plants.usda.gov\",\"name\":\"USDA\",\"last_update\":\"2019-01-11T12:01:26.358727\"\
        }],\"slug\":\"solanum-lycopersicum\",\"scientific_name\":\"Solanum lycopersicum\"\
        ,\"main_species_id\":null,\"link\":\"http://trefle.io/api/plants/182512\"\
        ,\"is_main_species\":true,\"id\":182512,\"family_common_name\":\"Potato family\"\
        ,\"complete_data\":false,\"common_name\":\"garden tomato\",\"bibliography\"\
        :null,\"author\":null},{\"year\":null,\"type\":\"var\",\"synonym\":false,\"\
        status\":\"Unknown\",\"sources\":[{\"species_id\":166395,\"source_url\":\"\
  [...]
