interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/species?page_size=30
  response:
    body:
      string: '[{"year":null,"type":"species","synonym":false,"status":"Unknown","sources":[{"species_id":164033,"source_url":"https://plants.usda.gov","name":"USDA","last_update":"2019-01-11T11:08:07.732302"}],"slug":"penstemon-parryi","scientific_name":"Penstemon
        parryi","main_species_id":null,"link":"http://trefle.io/api/plants/164033","is_main_species":true,"id":164033,"family_common_name":"Figwort
        family","complete_data":false,"common_name":"Parry''s beardtongue","bibliography":null,"author":null},{"year":null,"type":"species","synonym":false,"status":"Unknown","sources":[{"species_id":164070,"source_url":"https://plants.usda.gov","name":"USDA","last_update":"2019-01-11T11:08:13.608803"}],"slug":"penstemon-pseudoparvus","scientific_name":"Penstemon
        pseudoparvus","main_species_id":null,"link":"http://trefle.io/api/plants/164070","is_main_species":true,"id":164070,"family_common_name":"Figwort
        family","complete_data":false,"common_name":"Mt. Washington beardtongue","bi[...]
