interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/species
  response:
    body:
      string: "[{\"year\":null,\"type\":\"species\",\"synonym\":false,\"status\":\"\
        Accepted\",\"sources\":[{\"species_id\":197482,\"source_url\":\"http://www.tropicos.org\"\
        ,\"name\":\"Tropicos\",\"last_update\":\"2019-01-11T15:25:49.210526\"}],\"\
        slug\":\"ruttya-tricolor\",\"scientific_name\":\"Ruttya tricolor\",\"main_species_id\"\
        :null,\"link\":\"http://trefle.io/api/plants/197482\",\"is_main_species\"\
        :true,\"id\":197482,\"family_common_name\":null,\"complete_data\":false,\"\
        common_name\":null,\"bibliography\":\"Notulae Systematicae. Herbier du Museum\
        \ de Paris 13: 12. 1947. (Notul. Syst. (Paris)) \",\"author\":\"Benoist\"\
        },{\"year\":null,\"type\":\"species\",\"synonym\":false,\"status\":\"Accepted\"\
        ,\"sources\":[{\"species_id\":197492,\"source_url\":\"http://www.tropicos.org\"\
        ,\"name\":\"Tropicos\",\"last_update\":\"2019-01-11T15:25:56.277250\"}],\"\
        slug\":\"hypoestes-humbertii\",\"scientific_name\":\"Hypoestes humbertii\"\
        ,\"main_species_id\":null,\"link\":\"http://trefle.io/api/plants/197492\"\
        ,\"is_main_species\":true,\"id\":197492,\"family_common_name\":null,\"complete_data\"\
        :false,\"common_name\":null,\"bibliography\":\"Bulletin du Mus\xE9um National\
        \ d'Histoire Naturelle 33: 389. 1927. (Bull. Mus. Natl. Hist. Nat.) \",\"\
        author\":\"Benoist\"},{\"year\":null,\"type\":\"species\",\"synonym\":false,\"\
        status\":\"Accepted\",\"sources\":[{\"species_id\":197502,\"source_url\":\"\
        http://www.tropicos.org\",\"name\":\"Tropicos\",\"last_update\":\"2019-01-11T15:26:02.312424\"\
        }],\"slug\":\"hypoestes-hastata\",\"scientific_name\":\"Hypoestes hastata\"\
        ,\"main_species_id\":null,\"link\":\"http://trefle.io/api/plants/197502\"\
        ,\"is_main_species\":true,\"id\":197502,\"family_common_name\":null,\"complete_data\"\
        :false,\"common_name\":null,\"bibliography\":\"Bulletin du Mus\xE9um National\
        \ d'Histoire Naturelle 33: 532. 1927. (Bull. Mus. Natl. Hist. Nat.) \",\"\
        author\":\"Benoist\"},{\"year\":null,\"type\":\"species\",\"synonym\":false,\"\[...]
