interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trefle.io/api/subkingdoms
  response:
    body:
      string: '[{"slug":"tracheobionta","name":"Tracheobionta","link":"http://trefle.io/api/subkingdoms/1","id":1}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      link:
      - <http://trefle.io/api/subkingdoms?page=1>; rel="first", <http://trefle.io/api/subkingdoms?page=1>;
        rel="last"
      page-number:
      - '1'
      per-page:
      - '30'
      total:
      - '1'
      total-pages:
      - '1'
    status:
      code: 200
      message: OK
version: 1
